# Meilisearch Configuration
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_KEY=
MEILISEARCH_PREFIX=ecommerce_
MEILISEARCH_THROTTLE_ENABLED=true
MEILISEARCH_THROTTLE_MAX_ATTEMPTS=60
MEILISEARCH_THROTTLE_DECAY_MINUTES=1